.preloader {
  position: fixed;
  top: 0;
  left: 0;
  touch-action: none;
  height: 100vh;
  width: 100vw;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-white;
  background-color: $color-black;
  opacity: 0;
  transition: opacity 3.25s ease;

  &.active {
    opacity: 1;
  }

  svg:first-child {
    width: 25vw;
    height: auto;
    stroke-linejoin: round;
    stroke-linecap: round;

    @include respond(phone) {
      width: 70vw;
    }

    path {
      stroke: $color-blue;
      stroke-width: 0.6;
      fill-opacity: 0.5;
    }
  }
}
