.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: transparent;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  pointer-events: none;
  overflow: visible;

  .progress-bar {
    margin-bottom: -4px;
    border-bottom: 3px solid;
    width: 100%;
    background-color: transparent;
    transform-origin: left center;
    overflow: visible;
  }
}

html,
body {
  overflow-y: auto;
  overflow-x: hidden;
}
