@import "../utils/variables";

.header {
  &:hover {
    &:first h1 {
      background-color: white;
      display: inline-block;
      color: $color-blue !important;
    }

    .hero-section__tagline {
      color: $color-blue !important;
    }

    .dev-desc {
      color: $color-blue !important;
      font-weight: 500 !important;
    }
  }
}
