.not-found {
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-size: clamp(100px, 25vw, 200px);
    line-height: 1;
    color: $color-blue;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  }

  h2 {
    font-size: clamp(30px, 5vw, 50px);
    font-weight: 400;
    color: $color-lightgray;
  }

  a {
    color: $color-blue;
    background-color: transparent;
    border: 1px solid $color-blue;
    border-radius: 4px;
    padding: 1.25rem 1.75rem;
    font-size: 14px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    line-height: 1;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: 40px;

    &:hover {
      outline: none;
      box-shadow: 4px 4px 0 0 $color-blue;
      transform: translate(-5px, -5px);
    }
  }
}
