.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  height: 70px;
  padding: 15px;
  text-align: center;
  background-color: $color-dark;
  color: $color-lightgray;
  font-size: clamp(12px, 3vw, 14px);
  position: relative;
  z-index: 1;

  a {
    transition: color 0.3s ease;

    &:hover {
      color: $color-blue;
    }
  }
}
